.categories-navbar {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    padding: 10px;
    box-sizing: border-box;
    height: 100%;

    .categories-container {
        display: flex;
        background-color: dodgerblue;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .categories-items {
        padding: 30px;
    }
}



